# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\rt\Research Sector\Data Analysis Division\Python Study\PycharmProjects\Key Terms Extraction\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# .idea folder ignoring
/../../../../../../../../:\rt\Research Sector\Data Analysis Division\Python Study\PycharmProjects\Key Terms Extraction\.idea/
